@import 'blog';

.jost-regular {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.jost-SemiBold {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.btn {
    border-radius: 18px;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    background: rgb(41, 47, 54);

    &__text {
        color: rgb(255, 255, 255);
        font-family: Jost;
        font-size: 18px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 2%;
        text-align: center;
    }

}

.description {
    color: rgb(77, 80, 83);
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.subtitle {
    font-weight: 400;
    font-family: DM Serif Display;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 2%;
    align-content: center;
}

.container {
    width: 100%;
    max-width: 1353px;
    margin: 0 auto;
    padding: 0px 63px 0px 90px;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 57px;
    margin-top: 53px;

    &__menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;

    }

    &__link {
        color: rgb(41, 47, 54);
        font-family: Jost;
        font-size: 20px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.banner {
    &__content {
        max-width: 1200px;
        height: 758px;
        background-image: url("images/banner-back.jpeg");
        background-repeat: no-repeat;
        background-size: 1200px;
        background-position: center;
        border-radius: 50px;
        padding: 200px 50px;
        margin-bottom: 80px;
    }

    &__title {
        color: rgb(41, 47, 54);
        font-family: DM Serif Display;
        font-size: 65px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: left;
        max-width: 433px;
        margin-bottom: 18px;
    }

    &__description {
        margin-bottom: 18px;
        max-width: 433px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 220px;
        height: 75px;
        gap: 10px;
    }
}

.project {
    &__text-content {
        margin-bottom: 93px;
    }

    &__title {
        max-width: 737px;
        font-family: DM Serif Display;

    }

    &__description {
        max-width: 737px;
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 46px;
        margin-bottom: 96px;

    }
}

.project-item {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }


    &__img {
        width: 100%;
    }

    &__about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: DM Serif Display;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 2%;
        align-content: left;

    }

    &__link {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        background-color: #f4f0ec;
        padding: 26px 30px;
    }

}

.counter {
    background-color: rgb(244, 240, 236);
    height: 457px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 96px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgb(205, 162, 116);
        height: 155px;
    }

    &__box:last-child {
        border: none;
    }

    &__count {

        font-weight: 400;
        font-size: 85px;
        line-height: 125%;
        letter-spacing: 2%;
        align-content: left;
        color: rgb(205, 162, 116);

    }
}

.blog {
    margin-bottom: 96px;

    &_text-content {
        margin-bottom: 53px;
    }

    &__description {
        max-width: 811px;
        text-align: center;
        margin-bottom: 52px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 27px;
    }

}

.blog-item {
    padding: 21px;
    box-sizing: border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 62px;

    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);

    &__img-box {
        position: relative;

    }

    &__img {
        height: 300px;
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }

    &__on-img {
        position: absolute;
        width: 118px;
        height: 29px;
        left: 20px;
        top: 220px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 11px 4px 5px 8px;

        border-radius: 8px 8px 8px 0px;
        background: rgb(255, 255, 255);


    }

    &__title {
        font-family: DM Serif Display;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 2%;
        align-content: left;
        max-width: 305px;
    }

    &__link-box {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1%;
    }

    &__link {
        width: 52px;
        height: 52px;
        border-radius: 35px;
        background-color: #f4f0ec;
        align-items: center;
        justify-content: center;
        display: flex;

    }

    &__link:hover {
        background-color: white;
    }
}

.blog-item:hover {
    background-color: rgb(244, 240, 236);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &__title {
        font-family: DM Serif Display;
        font-size: 25px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    &__icon {
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 54px;
    }

    &__pages {
        display: flex;
        flex-direction: column;
        gap: 26px;
        padding-left: 100px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 26px;
        padding-left: 100px;
    }
}